<!doctype html>
<html>
  <head>
    <title>Submitted Successful</title>
    <style type="text/css">
      table, th, td {
        border: 1px solid black;
      }
    </style>
  </head>

  <body>
    <caption><strong>Contacts Information Submitted<strong></caption>
      <p> Name: <%=contactInformation[0]; %> <%=contactInformation[1];%> <%=contactInformation[2];%></p>
      <p> Address: <%=contactInformation[3];%> <%=contactInformation[4];%> <%=contactInformation[5];%> <%=contactInformation[6];%></p>
      <p> Contact by phone: <%=contactInformation[7];%></p>
      <p> Contact by mail: <%=contactInformation[9];%></p>
      <p> Contact by email: <%=contactInformation[8];%></a></p>

      <p>Click <a href = "/contacts">here</a> to see a list of all contacts.</p>
  </body>

</html>
